[submodule "ms-consumer-api"]
	path = ms-consumer-api
	url = https://github.com/for-glory/ms-consumer-api
	branch = main
[submodule "ms-ad-api"]
	path = ms-ad-api
	url = https://github.com/for-glory/ms-ad-api
	branch = main
